.mobile-nav-trigger,
.shack-nav-trigger {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: content-box;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;

    .line {
        display: block;
        background-color: $color-white;
        height: 4px;
        width: 100%;

        + .line {
            margin-top: 5px;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        display: none;
    }
}

.shack-nav-trigger {
    padding: 10px;
    left: auto;
    right: 25px;
    background: url("/_resources/dyn/files/1060002z8988d3a1/_fn/shack-white.png") center center no-repeat;
    background-size: 50%;
}

.l-top-nav {
    .mobile-main,
    .login-main {
        > .menu-t1,
        > .menu-t0 {
            background: $color-black;
            position: absolute;
            max-height: 0;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 9999;
            overflow: hidden;
            transition: .5s ease-in max-height;

            .mi {
                position: relative;

                + .mi {
                    border-top: 1px solid $color-white;
                }

                > .collapse {
                    display: block;
                    z-index: 8500;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $color-grey-1b;
                    padding-top: 7px;
                    width: 40px;
                    height: 34px;
                    text-align: center;

                    span {
                        display: inline-block;
                        height: 0;
                        width: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid $color-white;
                    }
                }


                &.over,
                &.open {
                    > .collapse {
                        span {
                            border-bottom: 6px solid $color-white;
                            border-top: none;
                        }
                    }
                }
            }

            .menuitemlabel {
                padding: 8px 30px 8px 15px;
            }
        }

        .menu-t2 {

            .mi {
                + .mi {
                    border-top: 1px solid $color-grey-d0;
                }

                .collapse {
                    background-color: $color-grey-d0;

                    span {
                        border-top: 6px solid $color-grey-66;
                    }
                }

                &.over,
                &.open {
                    .collapse {
                        span {
                            border-bottom: 6px solid $color-grey-66;
                            border-top: none;
                        }
                    }
                }
            }
        }

        .menu-t3 {
            background: $color-grey-d0;
            max-height: 0;
            overflow: hidden;
            transition: .5s ease-in max-height;

            .mi {
                .collapse {
                    background-color: $color-grey-d0;

                    span {
                        border-top: 6px solid $color-black;
                    }
                }

                &.over,
                &.open {
                    .collapse {
                        span {
                            border-bottom: 6px solid $color-black;
                            border-top: none;
                        }
                    }
                }

                .menuitemlabel {
                    text-transform: none;
                    font-size: 13px;
                }
            }
        }


        &.open {
            > .menu {
                max-height: 2000px;
            }
        }
    }

    .login-main {
        > .menu {
            left: 0;
            right: 0;
        }

        .logout {
            padding-left: 15px;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .mobile-main,
        .login-main {
            display: none;
        }
    }

    .shop-menu-con {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;

        .shopping-bag {
            .menuitemlabel {
                padding: 13px 0;

                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 18px;
                    width: 18px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("/_resources/dyn/files/1060007zf9e2272e/_fn/shopping-bag.png");
                }
            }


            .mil {
                display: none;
            }
        }

        @include breakpoint($bp-tablets-portrait) {
            display: none;
        }
    }
}
