.trends,
.spotlights,
.lifeshack {
	display: none;
}

.main-nav {
	display: none;
	text-align: center;
	border-bottom: 1px solid $color-grey-99;
	margin-bottom: 15px;

	.menu {
		@include resetMenu;
	}

	.mi {
		display: none;
		padding: 18px 15px 15px;

		.trends,
		.spotlights,
		.lifeshack {
			top: 100%;
			display: block;
		}

	}

	.sale {
		.menuitemlabel {
			color: $color-orange-red;
		}
	}

	.menuitemlabel {
		color: $color-black;
		display: block;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
	}


	@include breakpoint($bp-tablets-portrait) {
		display: block;
		border-bottom: 1px solid $color-black;
		margin-bottom: 35px;

		.mi {
			display: inline-block;
			vertical-align: top;
			padding: 20px 20px 25px;
			position: relative;

			&.women,
			&.men,
			&.stores {
				width: auto;
				text-align: center;
			}

			.menu {
				max-height: 0;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				top: 100%;
				width: 200px;
				left: 50%;
				margin-left: -100px;
				background: $color-white;
				transition: .3s ease opacity, .3s ease max-height;
				z-index: 9999;

				.mi {
					display: block;
					padding: 0;

					+ .mi {
						border-top: 1px solid $color-black;
					}

					.menuitemlabel {
						display: block;
						padding: 12px 10px 10px;
						border-bottom: 2px solid $color-white;

						&:hover {
							border-bottom: 2px solid $color-black;
						}
					}
				}
			}

			&.over,
			&.open {
				.menu {
					max-height: 2000px;
					opacity: 1;
					border: 1px solid $color-black;
				}
			}
		}

	}

	@include breakpoint($bp-tablets-landscape) {
		.mi {
			padding: 20px 30px 25px;
		}
	}
}
