
.box-wc {
	max-width: 100%;
	padding: 0 $spacing-mobile-horizontal;

	@include breakpoint($bp-tablets-landscape) {
		max-width: 1024px;
		margin: 0 auto;
	}

	@include breakpoint($bp-desktop) {
		max-width: 1030px;
		padding: 0;
	}
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;

	.mi {
		text-transform: uppercase;
	}

	.menuitemlabel {
		text-decoration: none;
	}


	@include breakpoint($bp-tablets-portrait) {
		.mi {
			display: inline-block;
		}
	}
}

/*** BEGIN SECTION STYLES ***/

#top_nav {
	background-color: $color-black;
	color: $color-white;
	text-align: right;
	position: relative;

	.shop-cta,
	.store-signup {
		display: none;
		position: absolute;
		z-index: 10;
		top: 1px;
	}

	.menu-t1 {
		> .mi {
			position: relative;

			.menuitemlabel {
				padding: 10px;
				display: block;
			}
		}
	}

	.menu-t2 {
		position: absolute;
		left: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: .4s ease all;
		background-color: #000;
		text-align: center;
		border: 1px solid $color-white;

		.mi {
			display: block;
			white-space: nowrap;

			+ .mi {
				border-top: 1px solid $color-white;
			}

			.menuitemlabel {
				display: block;
				padding: 10px;

				&:hover {
					background: $color-grey-33;
				}
			}
		}
	}

	.mi-parent {
		.menuitemlabel {
			display: block;
		}

		&:hover,
		&.over {
			.menu-t2 {
				max-height: 2000px;
				opacity: 1;
			}
		}
	}

	.user-links {
		position: absolute;
		right: -10px;
		top: 10px;

		.mi {
			display: none;
		}

		.menuitemlabel {
			padding: 0 20px;
		}

		.shack {
			&.mi {
				display: block;

				.mil {
					display: none;
				}
			}

			.menuitemlabel:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -3px;
				margin-left: 10px;
				height: 25px;
				width: 25px;
				background: url("/_resources/dyn/files/1060002z8988d3a1/_fn/shack-white.png") no-repeat;
			}
		}

		.shopping-bag {
			.menuitemlabel:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -3px;
				margin-left: 10px;
				height: 25px;
				width: 25px;
				background: url("/_resources/dyn/files/1060007zf9e2272e/_fn/shopping-bag.png") no-repeat;
			}
		}

	}

	.menuitemlabel {
		color: $color-white;
		font-family: $font-stack-sans;
		font-size: 16px;
	}

	#logo-mobile {
		text-align: center;
		padding-top: 3px;

		img {
			max-width: 220px;
			width: auto;
			height: auto;
		}
	}

	@include breakpoint($bp-mobile-landscape) {
		.user-links {
			right: 5px;
			top: 14px;
		}

		#logo-mobile {
			padding: 0;

			img {
				max-width: 400px;
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		#logo-mobile {
			display: none;
		}

		.shop-cta,
		.store-signup {
			display: block;
		}

		.user-links {
			position: relative;
			top: auto;
			right: auto;

			.mi {
				display: inline-block;

				+ .mi {
					border-left: 1px solid $color-white;
				}

				&.shack {
					display: inline-block;
					.mil {
						display: inline;
					}
				}
			}
		}
	}
}

#header {
	text-align: center;

	#logo {
		display: none;

		img {
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		padding: 90px 0 45px;

		#logo {
			display: block;
		}
	}
}

#content_enclosing {
	@include breakpoint($bp-tablets-portrait) {
		padding-bottom: $spacing-footer-height + $spacing-between-boxes;
	}
}

#cta_section {
	padding-bottom: $spacing-between-boxes;

	@include breakpoint($bp-tablets-portrait) {
		border-bottom: 1px solid $color-black;
		margin-bottom: 30px;
	}
}


#footer {
	height: 353px;
	margin-top: -353px;
	background: $color-black;
	display: none;

	.box-wc {
		padding-top: $spacing-between-boxes;
		padding-bottom: $spacing-between-boxes;
	}

	#footer-nav {
		.mi {
			display: inline-block;
			vertical-align: top;

			&.mi-parent {
				width: 40%;

				&:last-child {
					width: 20%;
				}
			}
		}

		.menuitemlabel {
			color: $color-white;
		}

		.menu-t2 {
			font-family: $font-opensanslight;
			margin-top: 20px;

			.mi {
				display: block;
				+ .mi {
					margin-top: 3px;
				}
			}

			.menuitemlabel {
				text-transform: none;
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		display: block;
	}
}