
.box-wc {
	max-width: 100%;
	padding: 0 $spacing-mobile-horizontal;

	@include breakpoint($bp-tablets-landscape) {
		max-width: 1024px;
		margin: 0 auto;
	}

	@include breakpoint($bp-desktop) {
		max-width: 1030px;
		padding: 0;
	}
}

/*** BEGIN SECTION STYLES ***/

.l-top-nav {
	background-color: $color-black;
	color: $color-white;
	font-family: $font-stack-sans;
	font-size: 16px;
	position: relative;

	.shop-cta,
	.store-signup {
		display: none;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menuitemlabel {
		display: block;
		color: $color-white;
		text-transform: uppercase;
		text-decoration: none;
	}

	.menu-t1 {
		> .mi {
			&:hover {
				background: $color-grey-1b;
			}

			> .menuitemlabel {
				padding: 8px 20px;
			}

			> div.menuitemlabel {
				cursor: default;
			}
		}
	}

	.menu-t2 {
		position: absolute;
		left: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: 400ms ease all;
		background-color: $color-black;
		border: 1px solid $color-white;

		> .mi {
			white-space: nowrap;

			+ .mi {
				border-top: 1px solid $color-grey-33;
			}
		}

		.menuitemlabel {
			padding: 8px 20px;

			&:hover {
				background: $color-grey-33;
			}
		}
	}

	.mi-parent {
		&:hover,
		&.over {
			.menu-t2 {
				max-height: 2000px;
				opacity: 1;
			}
		}
	}

	.user-links {
		.mi {
			display: none;
		}

		.shack,
		.shopping-bag {
			.menuitemlabel:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 18px;
				width: 18px;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.shack {
			.menuitemlabel:after {
				background-image: url("/_resources/dyn/files/1060002z8988d3a1/_fn/shack-white.png");
			}
		}

		.shopping-bag {
			.menuitemlabel:after {
				background-image: url("/_resources/dyn/files/1060007zf9e2272e/_fn/shopping-bag.png");
			}
		}
	}

	#logo-mobile {
		display: none;
	}

	@include breakpoint($bp-mobile-landscape) {
		#logo-mobile {
			padding: 0;

			img {
				max-width: 400px;
			}
		}
	}

	@include breakpoint($bp-mobile-only) {
		#logo-mobile {
			display: block;
			text-align: center;
			padding-top: 3px;

			img {
				max-width: 220px;
				width: auto;
				height: auto;
			}
		}

		.user-links {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

			.shack {
				display: block;

				.mil {
					display: none;
				}
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		.shop-cta,
		.store-signup {
			display: block;
			position: absolute;
			z-index: 10;
			top: 1px;
		}

		.user-links {
			position: relative;
			text-align: right;

			.mi {
				display: inline-block;
				vertical-align: middle;

				+ .mi {
					border-left: 1px solid $color-grey-33;
				}
			}

			.mil {
				display: inline-block;
				vertical-align: middle;
			}

			.shack,
			.shopping-bag {
				.menuitemlabel:after {
					margin-top: -5px;
					margin-left: 10px;
				}
			}
		}
	}
}

#header {
	text-align: center;

	#logo {
		display: none;

		img {
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		padding: 90px 0 45px;

		#logo {
			display: block;
		}
	}
}

#content_enclosing {
	@include breakpoint($bp-tablets-portrait) {
		padding-bottom: $spacing-footer-height + $spacing-between-boxes;
	}
}

#cta_section {
	padding-bottom: $spacing-between-boxes;

	@include breakpoint($bp-tablets-portrait) {
		border-bottom: 1px solid $color-black;
		margin-bottom: 30px;
	}
}


#footer {
	height: 353px;
	margin-top: -353px;
	background: $color-black;
	display: none;

	.box-wc {
		padding-top: $spacing-between-boxes;
		padding-bottom: $spacing-between-boxes;
	}

	#footer-nav {
		.mi {
			display: inline-block;
			vertical-align: top;

			&.mi-parent {
				width: 40%;

				&:last-child {
					width: 20%;
				}
			}
		}

		.menuitemlabel {
			color: $color-white;
		}

		.menu-t2 {
			font-family: $font-opensanslight;
			margin-top: 20px;

			.mi {
				display: block;
				+ .mi {
					margin-top: 3px;
				}
			}

			.menuitemlabel {
				text-transform: none;
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		display: block;
	}
}