/** Overrides for Home Template **/
#t_home {
    @include breakpoint($bp-tablets-landscape) {
        .l-top-nav {
            .box-wc {
                padding-left: 300px;
            }
        }
    }
}

/** Overrides for Metro Template **/
#t_metro_home {
    .metro-ad {
        margin-bottom: $spacing-between-boxes/2;
        text-align: center;
        padding-left: 20px;

        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        #footer-nav {
            width: 80%;
        }

        .metro-ad {
            float: right;
            width: 20%;
            margin-bottom: 0;
        }
    }
}

/** Overrides for Blog Template **/
#t_blog {
    .l-header {
        padding: 65px 0 55px;

        h1 {
            margin: 0;
            font-size: 45px;

        }

    }

    .l-main-nav {
        margin-bottom: 50px;
    }

    .l-footer {
        background-color: transparent;

        #footer-nav {
            .mi-parent {
                width: auto;

                + .mi-parent {
                    margin-top: $spacing-between-boxes;
                }
            }
            .menuitemlabel {
                color: $color-grey-80;
            }
        }

        .ad {
            margin-top: $spacing-between-boxes;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }

        .newsletter {
            color: $color-grey-80;
            margin-top: $spacing-between-boxes;

            .title {
                text-transform: uppercase;
                margin-top: 0;
            }

            p {
                font-family: $font-opensanslight;
            }

        }

        .box-wc {
            border-top: 1px solid $color-black;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .l-primary-content,
        .l-aside-content {
            display: inline-block;
            vertical-align: top;
        }

        .l-primary-content {
            width: 60%;

            &.wide {
                width: 100%;
            }
        }

        .l-aside-content {
            width: 40%;
            padding-left: 50px;
        }

        .l-footer {
            #footer-nav {
                display: inline-block;
                vertical-align: top;
                width: 40%;

                .mi-parent {
                    width: auto;

                    + .mi-parent {
                        margin-top: 0;
                        margin-left: 50px;
                    }
                }
            }

            .ad {
                margin-top: 0;
                display: inline-block;
                vertical-align: top;
                width: 25%;
            }

            .newsletter {
                margin-top: 0;
                display: inline-block;
                vertical-align: top;
                width: 30%;
            }
        }
    }
    @include breakpoint($bp-tablets-landscape) {
        .l-primary-content {
            width: 65%;
        }
        .l-aside-content {
            width: 35%;
            padding-left: 100px;
        }
    }
}

#t_store {
    .l-header {
        padding-top: 70px;
    }

    #main_enclose {
        padding-bottom: $spacing-between-boxes;
        border-bottom: 1px solid $color-black;
        margin-bottom: 30px;
    }

    @include breakpoint($bp-tablets-portrait) {
        .l-primary-content,
        .l-aside-content {
            display: inline-block;
            vertical-align: top;
        }

        .l-primary-content {
            width: 60%;
        }

        .l-aside-content {
            width: 40%;
            padding-left: 50px;
        }
    }
    @include breakpoint($bp-tablets-landscape) {
        .l-primary-content {
            width: 74%;
        }
        .l-aside-content {
            width: 25%;
            padding-left: 40px;
        }
    }
}

#t_catalog {
    #main_enclose {
        padding-bottom: $spacing-between-boxes;
        border-bottom: 1px solid $color-black;
        margin-bottom: 30px;
    }

    @include breakpoint($bp-tablets-portrait) {
        .l-primary-content,
        .l-aside-content {
            display: inline-block;
            vertical-align: top;
        }

        .l-primary-content {
            width: 70%;
            padding-left: 25px;

            &.wide {
                width: 100%;
                padding: 0;
            }
        }

        .l-aside-content {
            width: 30%;
            border-right: 1px solid $color-grey-d0;
            padding-right: 25px;
        }
    }
    @include breakpoint($bp-tablets-landscape) {
        .l-primary-content {
            width: 80%;
            padding-left: 30px;
        }

        .l-aside-content {
            width: 20%;
            padding-right: 10px;
        }
    }
}

#t_store_admin,
#t_admin {
    .l-top-nav {
        .shack-nav-trigger {
            right: 0;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .box-wc {
            max-width: 1280px;
            padding: 0;
        }

        .e-content {
            padding-top: $spacing-between-boxes;
            padding-bottom: $spacing-admin-footer-height + $spacing-between-boxes;
        }

        .l-header {
            padding-top: 40px;
        }
    }
}

#t_shopper {
    @include breakpoint($bp-tablets-portrait) {
        .l-primary-content,
        .l-aside-content {
            display: inline-block;
            vertical-align: top;
        }

        .l-primary-content {
            width: 60%;

            &.wide {
                width: 100%;
            }
        }

        .l-aside-content {
            width: 40%;
            padding-right: 50px;
        }
    }
    @include breakpoint($bp-tablets-landscape) {
        .l-primary-content {
            width: 74%;

            &.wide {
                width: 100%;
            }
        }
        .l-aside-content {
            width: 25%;
            padding-right: 40px;
        }
    }
}