@import "../config/base-import";

#content_header {
    margin-bottom: $spacing-between-boxes;
}

.archetype-image {
    margin-bottom: $spacing-between-boxes/3;

    img {
        border: 1px solid $color-grey-80;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.message.info.quiz-taker-message {
    text-align: center;
    font-family: $font-italic;
    font-size: 22px;
    color: $color-black;
}

