@import "../config/base-import";
@import "../components/partials/dialogbox";

.banner-img {
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.products {
  margin-top: $spacing-between-boxes/2;
}

#aside_content {
  .store_profile {
    margin-top: $spacing-between-boxes/2;
    font-size: 14px;
    color: $color-grey-66;
    line-height: 1.6;

    a {
      color: $color-grey-66;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .store-name {
    text-transform: uppercase;
    font-size: 24px;
    color: $color-black;
  }

  .store-description {
    &.trunc {
      max-height: 330px;
      overflow: hidden;
    }
  }

  .read-more {
    color: $color-orange-red;
    font-family: $font-italic;
  }

  .title {
    margin-top: $spacing-between-boxes;
    color: $color-black;
    font-family: $font-opensansbold;
  }

  .email-field {
    word-wrap: break-word;
  }

  .social-title {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
  }

  .social-nav {
    margin-top: 7px;
    text-align: left;

    .mi + .mi {
      margin-left: 5px;
    }

    .menuitemlabel {
      background-size: auto 25px;
      height: 25px;
      width: 26px;

      .mil {
        display: none;
      }
    }

    .twitter {
      .menuitemlabel {
        background-position: -30px 0;
      }
    }

    .googleplus {
      .menuitemlabel {
        background-position: -186px 0;
      }
    }

    .pinterest {
      .menuitemlabel {
        background-position: -93px 0;
      }
    }

    .instagram {
      .menuitemlabel {
        background-position: -63px 0;
      }
    }
  }

  @include breakpoint($bp-tablets-portrait) {
    .store_profile {
      margin-top: 0;
    }
  }
}

.fancybox-inner {
  max-height: 312px;
  overflow: hidden;
  font-size: 14px;
  color: $color-grey-66;
  line-height: 1.6;

  .store-description {
    border: 1px solid $color-black;
    padding: 15px;

    .title {
      font-family: $font-handwriting;
      font-size: 22px;
      color: $color-black;
      margin-bottom: 10px;
    }
  }
}
