@import "../config/base-import";
@import "../components/partials/dialogbox";
@import "../components/partials/img-cropper";

.prop-body {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.prop-wrapper {
    .prop {
        padding: 5px 0;
        display: block;
    }

    .actions {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .persistence-actions {
        button {
            + button {
                margin-left: 5px;
            }
        }
    }
}

h2 {
    padding: 10px 20px;
    margin-top: -10px;
}

.l-aside-content {
    display: none;

    border: 1px solid $color-grey-cc;
    background-color: $color-grey-f9;

    .box-wc {
        padding: 0;
    }

    .store-info {
        padding: 15px;

        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }

        .name {
            font-weight: bold;
            font-size: 20px;
            margin-top: 5px;
            text-transform: uppercase;
        }
    }

    ul.menu {
        @include resetMenu;
        margin-top: 10px;
        border-top: 1px solid $color-grey-cc;

        .mi {
            display: block;

            + .mi {
                border-top: 1px solid $color-grey-cc;
            }
        }

        .menuitemlabel {
            color: $color-black;
            display: block;
            padding: 5px 15px;

            &:hover {
                box-shadow: inset 0 3px 3px rgba($color-black, .1);
                background-color: darken($color-grey-f9, .5);
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        width: 25%;
        display: inline-block;
        vertical-align: top;
    }
}

.l-primary-content {

    &.wide {
        display: block;
        width: 100%;
    }

    > div {
        h1 {
            margin-left: 20px;
        }
    }

    .main-container {
        input {
            margin: 0;
        }

        .val {
            max-width: 100%;
            font-size: 14px;
            color: $color-grey-33;
            line-height: 1.5;
        }
    }

    .left-container,
    .right-container {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 47%;

        &:after {
            display: block;
            clear: both;
            content: '';
        }
    }

    .right-container {
        margin-left: 3%;
    }

    @include breakpoint($bp-tablets-landscape) {
        width: 75%;
        display: inline-block;
        vertical-align: top;
    }
}

.product-editor,
.product-management,
.order-management,
.store-profile-viewer,
.store-profile-editor {
    padding: 0 $spacing-mobile-horizontal;

    > div {
        + div {
            margin-top: $spacing-between-boxes/2;
        }

        &.prop-body {
            margin-top: 0;
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        margin-left: 20px;
    }
}

.product-editor {
    padding: 10px 20px;
    margin-top: -105px;
}

button.product-info-trigger,
label.product-info-label,
button.search-options-trigger,
label.search-options-label,
button.purchase-options-trigger,
label.purchase-options-label,
button.product-images-trigger,
label.product-images-label,
button.product-options-trigger,
label.product-options-label,
button.store-images-trigger,
label.store-images-label,
button.store-members-trigger,
label.store-members-label {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin: 0;
    padding: 5px 0;
}

button.product-info-trigger,
button.search-options-trigger,
button.purchase-options-trigger,
button.product-images-trigger,
button.product-options-trigger,
button.store-images-trigger,
button.store-members-trigger,
button.shipping-fees-trigger {
    background: transparent;
    background: $color-red;
    margin-top: 2px;
    position: relative;
    border-radius: 0;
    padding: 5px;

    &:before {
        content: "+";
        display: block;
        height: 100%;
        width: 100%;
        line-height: .7;
        color: $color-white;
        font-family: $font-opensanslight;
    }

    &.custom-expand-collapse-trigger-expanded {
        &:before {
            content: "\2013";
        }
    }
}

label.product-info-label,
label.search-options-label,
label.purchase-options-label,
label.product-images-label,
label.product-options-label,
label.store-images-label,
label.store-members-label,
label.shipping-fees-label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}

.actions {
    text-align: right;
}

.picture-list,
.store-images {
    border: 1px solid $color-grey-cc;
    padding: 20px;

    > .picture-editor-list-item,
    > .prop {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        text-align: center;
        margin: 0 10px;

        label {
            margin-bottom: 3px;
        }
    }
}

/** CREATE GLYPH BUTTONS **/
td.action-column {
    .actions {
        text-align: left;
    }

    .btn {
        &.order-up {
            @include arrowUpButtonGlyph;
        }
        &.order-down {
            @include arrowDownButtonGlyph;
        }
        &.edit {
            @include editButtonGlyph;
        }
        &.delete {
            @include deleteButtonGlyph;
        }
        &.edit-images {
            @include editImageButtonGlyph;
        }
    }
}

.custom-expand-collapse-collapsed {
    display: none !important;
}

/** OVERRIDE IMG CROPPER STYLES **/
.option.locked {
    border: 1px solid #1a608a;
    background-color: #cdebfd;
    margin-bottom: 10px;
    padding: 10px;
    font-family: $font-stack-sans;
    color: #1a608a;
}

.picture-editor {
    .option {
        label {
            float: none !important;
            font-family: $font-stack-sans !important;
        }
    }

    .message {
        font-size: 12px;
        background: transparent !important;
        border: 0 !important;
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
}

.picture-editor-list-item {
    button + button {
        margin-left: 5px;
    }
}