@import "../config/base-import";
@import "../components/partials/addthis-menu";

.styled-look {
    .info-wrap {
        margin-bottom: $spacing-between-boxes/2;

        .collage {
            display: inline-block;
            vertical-align: top;
            width: 55%;

            img {
                border: 1px solid $color-grey-c5;
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }

        .info {
            display: inline-block;
            vertical-align: top;
            width: 44%;
            padding-left: $spacing-between-boxes/2;

            .title {
                margin: 0;
            }

            .description {
                max-height: 210px;
                overflow: hidden;
            }
        }
    }
}