@import "../../config/base-import";

/* file chooser styles */
div.file_dialog {
  /*height: 100%;*/
  /*background-color: #fff;*/
}
table.file_chooser {
  width: 100%;
}
.file_chooser {

  td {
    vertical-align: middle;

    &.sibling_directories-con,
    &.cwd-con,
    &.pager-con,
    &.actions-con {
      vertical-align: top;
    }

    &.cwd-con {
      height: 2.25em;
    }

    &.actions-con {
      height: 3.75em;

      div.actions {
        margin: 5px 4px;
      }

      label {
        width: 17em;
        display: inline-block;
      }
    }

    &.fse_icon-con {
      padding: 0 1px;
    }
  }

  div.cwd {
    margin: 4px;
    padding: 2px 4px;
    font-size: 1.2em;
  }

  .pager {
    height: 18em;
    overflow: auto;
    margin: 4px;
  }

  .sibling_directories {
    overflow-y: auto;
    padding: 3px;

    .element input.selector {
      display: none;
    }
  }
}

td.sibling_directories-con {
  min-width: 8em;
  vertical-align: top;
}
