@import "../config/base-import";

/* Input style*/
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
  height: 30px;
  line-height: 26px;
  font-family: OpenSans,Arial,sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid $color-grey-cc;
  border-radius: 3px;
  background: transparent linear-gradient(to bottom, $color-grey-f2 0%, $color-white 100%) repeat scroll 0% 0%;
}

.miwt-calendar {
  .open {
    background: transparent url("/_resources/dyn/files/9735za7b1c4de/_fn/datepicker-icon.png") no-repeat scroll center center;
    border: medium none;
    text-indent: -1000em;
    width: 26px;
    height: 26px;
    margin-left: 5px;
  }
}

/* Search UI*/
.search-wrapper {
  .search_bar,
  .search-bar {
    margin-top: 10px;
    margin-bottom: 10px;

    .actions {
      display: inline-block;
      vertical-align: top;
      margin-top: 19px;

      button.btn {
        margin: 0;

        + button.btn {
          margin-left: 10px;
        }
      }
    }
  }

  .constraint {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 5px;

    label {
      display: block;
      font-weight: bold;
    }

    select {
      font-size: 12px;
      text-align: left;
    }
  }
}

button.btn {
  background: $color-red none repeat scroll 0 0;
  border: 1px solid $color-dark-red;
  color: #FFF;
  font-size: 14px;
  font-family: OpenSansBold,Arial,sans-serif;
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;

  &:hover {
    background: $color-dark-red;
  }

  &.add {
    float: right !important;
    margin-top: 18px;
  }

  &.reset,
  &.delete {
    background-color: $color-grey-aa;
    border: 1px solid $color-grey-77;

    &:hover {
      background-color: $color-grey-99;
    }
  }
}

/** CREATE GLYPH BUTTONS **/
td.action-column {
  .actions {
    text-align: left;
  }

  .btn {
    &.view {
      @include viewButtonGlyph;
    }
    &.order-up {
      @include arrowUpButtonGlyph;
    }
    &.order-down {
      @include arrowDownButtonGlyph;
    }
    &.edit {
      @include editButtonGlyph;
    }
    &.delete,
    &.remove {
      @include deleteButtonGlyph;
    }
    &.edit-images {
      @include editImageButtonGlyph;
    }
  }
}

.miwt-table {
  width: 100%;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  border-width: 1px 1px medium;
  border-style: solid solid none;
  border-color: $color-blue-grey $color-grey-c5 -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;

  .action-column button {
    margin-left: 10px;
  }

  th {
    background: transparent linear-gradient(to bottom, $color-blue-grey 0%, $color-grey-66 100%) repeat scroll 0 0;
    font-size: 14px;
    color: $color-white;
    font-weight: normal;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid $color-grey-c5;

    + th {
      border-left: 1px solid $color-grey-c5;
    }

    span.column-label {
      display: block;
    }

    &.first-column {
      border-top-left-radius: 3px;
    }

    &.last-column {
      border-top-right-radius: 3px;
    }

    #content_enclosing #main_content & {
      a {
        color: $color-white;
      }
    }
  }

  td {
    padding: 10px 15px;
    border-bottom: 1px solid $color-grey-c5;
    font-size: 14px;
    background-color: $color-white;

    + td {
      border-left: 1px solid $color-grey-c5;
    }
  }

  .even td {
    background-color: $color-grey-f2;
  }

  .column-visibility {
    .btn {
      border: medium none;
      background: transparent url("/_resources/all/docroot/miwt/component/images/view.gif") no-repeat scroll 1px 1px;
      padding: 0;
      margin: 0;
      width: 15px;
      height: 13px;
      cursor: pointer;

      + .btn {
        margin-left: 10px;
      }
    }
  }
}
