@import "../config/base-import";

#header {
  padding-bottom: 20px;
}

.message {
  background-color: $color-dark-red;
  color: $color-white;
  padding: 10px;

  + .message {
    margin-top: 10px;
  }
}

.message-container {
  margin-bottom: 30px;
}

.styles-comp {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid $color-black;
  padding-bottom: 50px;

  img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 30px;
  }

  @include breakpoint($bp-tablets-portrait) {
    margin-top: 160px;

    img {
      margin-bottom: 10px;
    }
  }
}

.heading,
.social-title {
  font-family: $font-italic;
  font-size: 30px;
  text-align: center;
}

.formentry {
  text-align: center;
  font-family: $font-stack-serif;
}

.form_field {
  + .form_field {
    margin-top: $spacing-between-boxes/2;
  }
}

.label,
label {
  display: block;
  margin-bottom: 5px;
}

.question {
  + .question {
    margin-top: $spacing-between-boxes*3;
  }
}

.extra_value_renderer {
  > div {
    display: inline-block;
    vertical-align: middle;
  }

  @include breakpoint($bp-tablets-portrait) {
    > div {
      &:first-child {
        button {
          border-radius: 2px 2px 4px 4px;
        }
      }

      + div {
        button {
          border-left: 0;
        }
      }
    }
  }
}

.green {
  label {
    color: $color-green;
  }
}

.blue {
  label {
    color: $color-blue;
  }
}

.purple {
  label {
    color: $color-purple;
  }
}

.orange {
  label {
    color: $color-orange;
  }
}

.white {
  label {
    color: $color-white;
    text-shadow: 1px 1px 3px rgba($color-black, .5);
  }
}

.yellow {
  label {
    color: $color-yellow;
  }
}

.red {
  label {
    color: $color-red;
  }
}

button {
  background: linear-gradient($color-grey-f2, lighten($color-grey-d0, .5) 80%);
  outline: 0;
  border: 1px solid $color-grey-c5;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 8px;

  &:hover {
    background: $color-grey-f2;
  }

  .selected & {
    background: $color-white;
  }

  @include breakpoint($bp-tablets-portrait) {
    margin: 0;
  }
}

.button_description_container {
  margin: 15px 12px;
  padding: 10px 15px 6px;

  .label,
  label,
  input[type="radio"] {
    display: inline-block;
  }

  input[type="radio"] {
    margin-right: 5px;
    display: none;
  }

  &:hover {
    box-shadow: 0 0 2px rgba($color-black, .25);
    transform: scale(1.03, 1.03);
  }

  &.selected {
    box-shadow: 0 3px 10px rgba($color-black, .33);
    transform: scale(1.1, 1.1);
  }
}

.fav-color {
  label.tbl,
  .label.tbl {
    font-family: $font-opensans;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.picker {
  .extra_value_name {
    font-family: $font-italic;
    font-size: 24px;
  }

  label.tbl {
    display: none;
  }

  .choice {
    .rtb {
      input {
        display: none;
      }
    }

    .button-image-container {
      border: 1px solid $color-grey-d0;
      transition: .125s ease all;

      &:hover {
        box-shadow: 0 0 2px rgba($color-black, .25);
        transform: scale(1.03, 1.03);
      }

      &.checked {
        box-shadow: 0 3px 10px rgba($color-black, .33);
        transform: scale(1.1, 1.1);
        position: relative;
        z-index: 9999;
        background: $color-white;
      }
    }

  }

  .button_description_container {
    width: 95%;
  }

  .button-image-container {
    padding: 30px 0;
    height: 270px;
    width: 100%;
    display: table;

    .wrap {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      max-height: 200px;
      max-width: 80%;
      width: auto;
    }
  }

  @include breakpoint($bp-tablets-portrait) {
    .button_description_container {
      width: 47.5%;
    }

    .extra_value_name {
      font-size: 30px;
    }
  }
}


.three-col {
  @include breakpoint($bp-tablets-landscape) {
    .button_description_container {
      width: 30%;
    }
  }
}


.four-col {
  .button-image-container {
    height: 240px;

    img {
      max-height: 160px;
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    .button_description_container {
      width: 22.5%;
    }
  }
}

.submit_button {
  margin-top: $spacing-between-boxes;
}



