@import "../config/base-import";
@import "../config/filters";
@import "../config/catalogmenu";

#aside_content {
  padding-top: $spacing-between-boxes;
}

.filters {
  @include breakpoint($bp-tablets-portrait) {
    form {
      width: 100%;
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    .title {
      width: 12%;
    }
    form {
      width: 87%;
    }
  }
}


.filter_controls.menu {
  input[type="checkbox"] {
    display: none;
  }

  @include breakpoint($bp-tablets-portrait) {
    > .mi {
      width: 49%;
      margin-bottom: 10px;

      .label {
        width: 40%;
      }

      &.mi_active {
        label {
          font-weight: bold;
        }
      }

      .active-filters {
        width: 40%;
      }
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    > .mi {
      width: 24.5%;
      margin-bottom: 0;

      .label {
        width: 42%;
      }

      .active-filters {
        width: 51%;
      }
    }
  }
}
