@import "../config/base-import";
@import "../components/partials/filters";
@import "../components/partials/product-listing";

.store_profile {

  .store-name {
    padding-right: 50px;
  }

  .my-shack {
    input[type="submit"] {
      height: 35px;
      width: 35px;
      display: inline-block;
      margin: 0;
    }
  }
}