@import "../config/base-import";

.about-top {
    img {
        float: left;
        margin-right: $spacing-between-boxes;

    }

    &:after {
        clear: both;
        display: block;
        content: '';
    }
}
/* something */