@import "../config/base-import";

.blog.entry {
    .column {
        border: 1px solid $color-grey-cc;
        padding: 20px;

        + .column {
            margin-top: $spacing-between-boxes/2;
        }

        &.left {
            input[type="text"] {
                width: 100%;
            }
        }

        > .actions {
            text-align: center;
            margin-left: -10px;
            margin-right: -10px;

            .btn {
                padding: 7px 10px;
                font-size: 12px;
            }
        }
    }

    .actions {
        text-align: right;
        margin-top: $spacing-between-boxes/2;


        .btn + .btn {
            margin-left: 5px;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .column {
            display: inline-block;
            vertical-align: top;

            + .column {
                margin-top: 0;
                margin-left: 10px;
            }

            &.left {
                width: 70%;
            }

            &.right {
                width: 28%;
            }
        }
    }
}

.file {
    font-size: 14px;

    a {
        word-break: break-all;
    }
}

.post {
    &.featured,
    &.approved {
        input,
        label.tbl {
            display: inline-block;
        }

        input {
            float: left;
            margin-top: 10px;
            margin-right: 5px;
        }
    }


    + .post {
        margin-top: $spacing-between-boxes;
    }

    label {
        font-family: $font-opensansbold;
        font-size: 14px;
        display: block;
        margin-bottom: 3px;
    }

    .file-name,
    .post.author {
        font-size: 14px;
        margin-right: 20px;
    }

    .select2-selection__choice,
    .select2-selection__rendered {
        font-size: 12px;
    }

    select,
    .select2-container {
        max-width: 100% !important;
    }

    &.tags,
    &.categories {
        > input[type="text"] {
            display: none;
        }
    }

}

span.select2-results {
    > ul.select2-results__options {
        > li.empty {
            display: none;
        }
    }
}

