@import "../config/base-import";

.login-component {
  width: 90%;
  margin: 30px auto;
  border: 1px solid $color-black;
  text-align: center;

  .title {
    font-family: $font-handwriting;
    font-size: 24px;
    margin-bottom: 5px;
    background: $color-black;
    color: $color-white;
    padding: 5px 0;
  }

  .password-rules {
    padding: 0 20px;
  }

  .actions,
  .fields {
    margin: 10px auto;
    max-width: 80%;
  }

  .fields {
    text-align: left;
  }

  .field {
    + .field {
      margin-top: 10px;
    }
  }

  .username {
    font-size: 14px;

    label {
      display: none;
    }

    .value {
      display: block;
      @include userGlyph;
    }
  }

  &.password-reset {
    .username {
      label {
        display: block;
      }
      .value:before {
        display: none;
      }
    }
  }

  .password,
  .verify-password {
    label {
      display: none;
    }
    .value {
      display: block;
      @include passwordGlyph;
    }
  }

  .retrieve-password {
    font-size: 12px;
  }

  .label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"] {
    @include genericInputStyle;
  }

  input[type="submit"] {
    @include genericButtonStyle;
  }


  @include breakpoint($bp-tablets-portrait) {
    width: 300px;
  }
}

.sign-up {
  width: 90%;
  margin: 20px auto;
  text-align: center;

  @include breakpoint($bp-tablets-portrait) {
    width: 300px;
  }
}