.search-wrapper {
    .entity-actions {
        float: right;

        .btn {
            margin-bottom: 5px;
            margin-right: 0;

            + .btn {
                margin-right: 5px;
            }
        }
    }
}

.product-management {
    .pager-search-results img {
        width: 100px;
    }
}

.product-images-list {
    .picture-editor.mode-view img {
        width: 100px;
    }

    .product-options {
        .picture-editor.mode-view img,
        .pager-search-results img {
            width: 100px;
        }
    }
}
