@import "../config/base-import";
@import "../components/partials/shoppingbag";

fieldset {
    &.address-info {
        margin-top: $spacing-between-boxes/2;
    }
    &.items {
        margin-top: $spacing-between-boxes;
    }
}

.print {
    a {
        @include style-button-base;
        float: right;
        position: relative;
        bottom: -20px;
    }
}

