@import "../config/base-import";

.mode-view {
    .logo-image,
    .banner-image {
        .drop-zone {
            max-height: 300px;
            overflow: hidden;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
            }

            .mode-crop {
                img {
                    max-width: none;
                }
            }
        }
    }
}

.main-container {
    padding: 10px 20px;
    border: 1px solid $color-grey-cc;
}

.store-images-wrapper,
.store-shipping-fees,
.store-members-wrapper {
    margin-top: $spacing-between-boxes;
    padding: 10px 20px;
    border: 1px solid $color-grey-cc;

}

.store-members-wrapper,
.shipping-fees {
    margin-top: $spacing-between-boxes;

    .store-members {
        .entity-actions {
            width: 100%;
            float: left;
        }

        .search {
            clear: right;
        }
    }
}

.stripe-settings {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.stripe-account {
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;

    label {
        margin-bottom: 3px;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }

}

.ecomm-settings-label {
    font-weight: normal;
    font-family: $font-handwriting;
    font-size: 25px;
    margin-top: 0;
}

.store-images-label {
    font-weight: bold;
}

.store-social {
    .prop {
        > .val {
            width: 100%;
        }
    }
}

.btn {
    &.add {
        float: right;
        margin: -25px 0 10px;
    }
}

.ctb {
    input,
    label {
        display: inline-block;
        margin-left: 3px;
    }
}

.store-options {
    .prop,
    .ctb {
        + .prop {
            margin-top: 5px;
        }
    }
}

.tab-content > div {
    > .actions {
        position: relative;
        top: -8px;
    }

    > .prop-wrapper + .actions {
        top: 8px;
    }
}

.miwt-table td.action-column .actions {
    margin-bottom: 0;
}


/* Hide Sort Option STYS-506 */
.product-editor .product-options-order-wrapper {
    display: none;
}



