@import "../config/base-import";

.view-reservation-wrapper {
    padding: 20px;
    border: 1px solid #ccc;
}

@include breakpoint($bp-tablets-portrait) {
    .prop-wrapper {
        > img {
            float: right;
            clear: right;
        }
    }
}