@import "../config/base-import";

.search-constraints {
    @include style-generic-table-search;
}

table.table_view {
    width: 100%;
}

.miwt.disabled {
    display: none;
}

.table_view_paging_table {
    table {
        @include style-generic-table;
        width: 100%;

        @include breakpoint($bp-mobile-only) {
            th, td {
                &.modified,
                &.journal,
                &.time {
                    display: none;
                }
            }
        }
    }
}


.order_detail {
    width: 100%;

    td {
        > table {
            @include style-generic-table;
        }
    }

    .addresses-con {
        padding: 0;

        table {
            border: 0;

            td {
                border: 0;
                width: 50%;

                &.label-con,
                legend {
                    font-family: $font-opensansbold;
                    text-transform: uppercase;
                }
            }
        }
    }

    .order_items-con {
        padding: 0;

        table {
            border: 0;

            .column_heading-con {
                background-color: $color-grey-f2;
            }

            .order_total-con,
            .order_total_price-con {
                font-weight: bold;
            }
        }
    }

    .payment_info-con {
        padding: 0;
    }

    .payment_info {
        padding: 5px 15px;

        .miwt-collapsable {
            margin-top: 5px;
        }
    }

    .billing_address_container,
    .journal_entry {
        border: 0;

        table {
            border: 0;
        }

        td {
            border: 0;
            padding: 0;
        }
    }

    td.buttons-con {
        padding: 10px 0;

        .btn {
            + .btn {
                margin-left: 5px;
            }
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .payment_info {
            padding: 0 15px;

            .miwt-collapsable {
                display: inline-block;
                margin: 3px 5px;
            }
        }
    }
}

.btn {
    &.cancel_search {
        margin-top: $spacing-between-boxes/2;
    }

    &.trigger {
        @include style-button-sm;
    }
}

.miwt-collapsable-content {
    padding: 20px;
    background: $color-white;
    border: 1px solid $color-grey-66;

    .shown & {
        position: relative !important;
    }

    .close {
        @include closeButtonGlyph;
        float: right;
        margin-top: 0;
    }

    @include breakpoint($bp-tablets-portrait) {
        box-shadow: 0 0 15px rgba($color-black, .65);

        .shown & {
            position: absolute !important;
        }
    }
}


.export_actions {
    margin-top: 10px;

    label {
        margin-right: 10px;
    }

    a {
        margin-right: 10px;
        font-size: 0;
        display: inline-block;
        vertical-align: middle;

        &:before {
            display: block;
            width: 30px;
            height: 40px;
            background-repeat: none;
            background-size: cover;
            content: '';
        }

        &.export_pdf {
            &:before {
                background-image: url('/_resources/dyn/files/1125138z4ab0861c/_fn/pdf.png');
            }
        }
        &.export_xls {
            &:before {
                background-image: url('/_resources/dyn/files/1125137zda0f9b8d/_fn/excel.png');
            }
        }
        &.export_csv {
            &:before {
                background-image: url('/_resources/dyn/files/1125136zad08ab1b/_fn/csv.png');
            }
        }
    }
}