@import "../config/base-import";

.metro-info,
.prop-body {
    .metro-profile-editor,
    > .metro-images-wrapper,
    .metro-viewer {
        margin-top: $spacing-between-boxes;
        padding: 10px 20px;
        border: 1px solid #ccc;
    }
}
