@import "../components/partials/img-cropper";

.label,
label {
  font-weight: bold;
  font-size: 14px !important;
}

.prop-wrapper {
  .prop {
    > .val {
      display: block !important;
    }
  }
}
