@import "../config/base-import";

.mode-view {
  .logo-image,
  .banner-image {
    .drop-zone {
      max-height: 300px;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
        width: auto;
      }

      .mode-crop {
        img {
          max-width: none;
        }
      }
    }
  }
}

.main-container {
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #959595;
}

.store-images-wrapper {
  margin-top: $spacing-between-boxes;
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #959595;

  .actions {
    .btn {
      + .btn {
        margin-left: 5px;
      }
    }
  }
}

.store-members-wrapper {
  margin-top: $spacing-between-boxes;

  .store-members {
    border: 1px solid $color-grey-cc;
    padding: 20px;

    .entity-actions {
      width: 100%;
      float: left;

      .btn {
        float: right;
      }
    }
  }
}

.store-images-label {
  font-weight: bold;
}



