@import "../config/base-import";
@import "../components/partials/filters";
@import "../components/partials/product-listing";

.influencer_profile {
    .influencer-name {
        padding-right: 50px;
    }

    .blog-name {
        text-transform: uppercase;
    }

    .metro {
        font-size: 14px;
        color: $color-grey-80;
        line-height: 1.3;
    }

    .profile-pic {
        display: none;
        padding-top: 100%;
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
        border-radius: 100%;
        shape-outside: circle();
        background-position: center center !important;
        background-size: 102% !important;
    }

    .phone,
    .email {
        line-height: 1.6;
    }

    .profile-about {
        p {
            color: $color-grey-80;
            margin-top: 5px;
            line-height: 1.2;

            + p {
                margin-top: 10px;
            }
        }

    }

    .blog-url {
        .title {
            margin-bottom: 5px;
        }
        a {
            color: $color-grey-80;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .profile-pic {
            display: block;
        }
    }
}

.banner {
    img {
        max-width: 100%;
        height: auto;
    }
}

.e-content {
    padding-top: $spacing-between-boxes/2;

    .box-wc {
        position: relative;
    }
}

.mobile-section-nav {
    border-bottom: 1px solid $color-grey-cc;

    > div {
        display: inline-block;
        padding: 15px 0;
        width: 49%;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        cursor: pointer;

        &.active {
            font-weight: bold;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        display: none;
    }
}

@include breakpoint($bp-mobile-only) {
    /*.l-primary-content*/
    .l-aside-content {
        display: none;

        &.active {
            display: block;
        }
    }

}