@import "../config/base-import";

.critical_low_inventory {
    td {
        font-weight: bold;
    }
}

@include breakpoint($bp-tablets-portrait) {
    .layout_group.entity_actions {
        text-align: right;
    }
}

.l-primary-content.wide {
    max-width: 956px;
    margin: 0 auto;

    .entity_actions {
        .btn {
            margin: 15px 0;
        }
    }

}

.inventory_listing {
    table {
        width: 100%;
    }
}