@import "../config/base-import";
@import "../components/partials/mailchimp-newsletter";

.top-cta {
    display: none;
    background: url("/_resources/dyn/files/1058377z36f15d8f/_fn/home-cta-bg.jpg") top center no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    height: 300px;

    .your-style {
        position: relative;
        top: 80px;
        text-align: center;
        max-width: 300px;
        padding: 15px 25px;
        margin: 0 auto;
    }

    .your-style-heading,
    .your-style-subheading {
        font-family: $font-italic;
        font-size: 30px;
        line-height: 1.3;
    }

    .your-style-cta {
        position: relative;
        z-index: 2;
        margin-top: 10px;
    }

    @include breakpoint($bp-tablets-portrait) {
        height: 415px;
        display: block;

        .your-style {
            background-color: $color-white;
            border: 1px solid $color-black;
            box-shadow: 0 0 0 10px $color-white;
        }
    }
}

.top-cta-mobile {
    display: block;
    background: transparent;

    .your-style,
    .shop-local {
        display: block;
        position: relative;
        height: 300px;
        max-width: none;
        top: auto;
        padding-top: 140px;
        font-family: $font-italic;
        font-size: 30px;
        line-height: 1.3;
        color: $color-black;
        text-align: center;

        span {
            position: absolute;
            display: block;
            padding-top: 6px;
            bottom: 130px;
            left: 0;
            right: 0;
            background: transparentize($color-white, .35);
        }
    }

    .your-style {
        background: url("/_resources/dyn/files/1107713z3b10da4f/_fn/style-mix.jpg") center center no-repeat;
        background-size: 400px;
    }

    .shop-local {
        background: url("/_resources/dyn/files/1142196z45708e88/_fn/storefront1.jpg") bottom center no-repeat;
        background-size: cover;
        margin-bottom: 10px;
        border-top: 1px solid $color-white;
    }

    @include breakpoint($bp-tablets-portrait) {
        display: none;
    }
}

.store-links {
    padding: 20px;

    .featured_section {
        + .featured_section {
            margin-top: $spacing-between-boxes/2;
        }
    }

    a {
        display: block;
        padding-top: 360px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-decoration: none;
    }

    .label {
        display: block;
        background-color: $color-white;
        font-family: $font-opensans;
        text-transform: uppercase;
        color: $color-black;
        text-align: center;
        padding: 10px 5px;
    }


    @include breakpoint($bp-tablets-portrait) {
        display: block;
        padding: 0;

        .featured_section {
            display: inline-block;
            vertical-align: top;
            width: 33.333333%;

            &:first-child a {
                margin-left: 0;
            }

            + .featured_section {
                margin-top: 0;
            }
        }

        a {
            padding-top: 350px;
            margin-left: 10px;
        }
    }
}

.l-cta {
    margin-left: -$spacing-mobile-horizontal;
    margin-right: -$spacing-mobile-horizontal;
    margin-bottom: $spacing-between-boxes/3;

    @include breakpoint($bp-tablets-portrait) {
        margin: 0 0 $spacing-between-boxes;
    }
}

.l-notes {
    display: block;
    padding-bottom: $spacing-between-boxes;
    margin-bottom: $spacing-between-boxes;
    margin-left: -$spacing-mobile-horizontal;
    margin-right: -$spacing-mobile-horizontal;

    h3 {
        text-align: center;
        margin: .5em 0;
        font-size: 20px;
    }

    .post {
        padding: 20px;
        border: 1px solid $color-grey-cc;

        + .post {
            margin-top: $spacing-between-boxes/2;
        }

        .detail-link {
            color: $color-black;
            display: block;
        }

        .title {
            font-family: $font-handwriting;
            font-size: 25px;
            text-align: center;
            margin-top: 8px;
        }

        .image {
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            height: 300px;
        }

        &.post-placeholder-image {
            .image {
                background-image: url("/_resources/dyn/files/1064457zcfeece0/_fn/blog-bg2.png");

            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        h3 {
            font-size: 25px;
        }

        .post {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 0 10px 0 0;
            border: 0;

            + .post {
                margin-top: 0;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }
    }
}

.about-con {
    background: $color-grey-e6;
    padding: 30px 20px;
    line-height: 1.5;

    .info {
        font-family: $font-opensanslight;

        &.about {
            display: none;
        }

        h4 {
            margin-top: 0;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .info {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-right: 20px;

            + .info {
                padding-right: 0;
                padding-left: 20px;
            }

            &.about {
                display: inline-block;
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        padding: 40px;
    }
}

.social-nav {
    text-align: center;

    @include breakpoint($bp-tablets-portrait) {
        display: block;
    }
}