@import "../config/base-import";
@import "../components/partials/mailchimp-newsletter";

.home-shop-container {
    padding: 0 20px;

    .featured_section {
        width: 100%;
        display: block;
        text-align: center;

        &:after {
            content: '';
            clear: both;
            display: table;
        }

        + .featured_section {
            margin-top: 20px;
        }

    }

    .text {
        padding: 25px 20px;
        text-align: center;
        font-family: $font-opensans;
    }

    .label {
        background-color: $color-black;
        color: $color-white;
        position: relative;
        padding: 16px 0 13px;
        display: block;
        text-tranform: uppercase;

        &:before, &:after {
            content: '';
            background-color: $color-white;
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            width: 25%;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

    }

    a {
        display: block;
        padding-top: 360px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-decoration: none;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            background-color: $color-white;
            height: 15px;
            top: 345px;
            left: 0;
        }

    }

    @include breakpoint($bp-tablets-portrait) {

        a {
            padding-top: 350px;
            margin-left: 10px;
        }

        .featured_section {
            display: inline-block;
            vertical-align: top;
            width: 50%;

            + .featured_section {
                margin-top: 0;
            }

        }

        a:after {
            top: 335px;
        }

        .label:before, .label:after {
            width: 30%;
        }

    }

}

.store-links {
    padding: 20px;

    .featured_section {
        + .featured_section {
            margin-top: $spacing-between-boxes/2;
        }
    }

    a {
        display: block;
        padding-top: 360px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-decoration: none;
    }

    .label {
        display: block;
        background-color: $color-white;
        font-family: $font-opensans;
        text-transform: uppercase;
        color: $color-black;
        text-align: center;
        padding: 10px 5px;
    }


    @include breakpoint($bp-tablets-portrait) {
        display: block;
        padding: 0;

        .featured_section {
            display: inline-block;
            vertical-align: top;
            width: 33.333333%;

            &:first-child a {
                margin-left: 0;
            }

            + .featured_section {
                margin-top: 0;
            }
        }

        a {
            padding-top: 350px;
            margin-left: 10px;
        }
    }
}

.l-cta {
    margin-left: -$spacing-mobile-horizontal;
    margin-right: -$spacing-mobile-horizontal;
    margin-bottom: $spacing-between-boxes/3;

    @include breakpoint($bp-tablets-portrait) {
        margin: 0 0 $spacing-between-boxes;
    }
}

.l-notes {
    display: block;
    padding-bottom: $spacing-between-boxes;
    margin-bottom: $spacing-between-boxes;
    margin-left: -$spacing-mobile-horizontal;
    margin-right: -$spacing-mobile-horizontal;

    h3 {
        text-align: center;
        margin: .5em 0;
        font-size: 20px;
    }

    .post {
        padding: 20px;
        border: 1px solid $color-grey-cc;

        + .post {
            margin-top: $spacing-between-boxes/2;
        }

        .detail-link {
            color: $color-black;
            display: block;
        }

        .title {
            font-family: $font-handwriting;
            font-size: 25px;
            text-align: center;
            margin-top: 8px;
        }

        .image {
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            height: 300px;
        }

        &.post-placeholder-image {
            .image {
                background-image: url("/_resources/dyn/files/1064457zcfeece0/_fn/blog-bg2.png");

            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        h3 {
            font-size: 25px;
        }

        .post {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 0 10px 0 0;
            border: 0;

            + .post {
                margin-top: 0;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }
    }
}

.about-con {
    background: $color-grey-e6;
    padding: 30px 20px;
    line-height: 1.5;

    .info {
        font-family: $font-opensanslight;

        &.about {
            display: none;
        }

        h4 {
            margin-top: 0;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .info {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-right: 20px;

            + .info {
                padding-right: 0;
                padding-left: 20px;
            }

            &.about {
                display: inline-block;
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        padding: 40px;
    }
}

.social-nav {
    text-align: center;

    @include breakpoint($bp-tablets-portrait) {
        display: block;
    }
}