@import "../config/base-import";
@import "../components/partials/filters";

.filters {
    margin: $spacing-between-boxes/2 0 $spacing-between-boxes;

    @include breakpoint($bp-tablets-landscape) {
        margin: 0;

        .filter_controls {
            width: 85%;

            > .search-option {
                margin-top: 10px;
            }
        }

        .title {
            margin-top: 10px;
        }
    }

    @include breakpoint($bp-desktop) {
        margin-bottom: $spacing-between-boxes;
    }

}

@include breakpoint($bp-tablets-landscape) {
    .sort-by {
        margin-top: 10px;
    }
}

