@import "../config/base-import";

.login {
  width: 90%;
  margin: 30px auto;
  border: 1px solid $color-black;
  text-align: center;

  .title {
    font-family: $font-handwriting;
    font-size: 24px;
    margin-bottom: 5px;
    background: $color-black;
    color: $color-white;
    padding: 5px 0;
  }

  .actions,
  .fields {
    margin: 10px auto;
    max-width: 80%;
  }

  .fields {
    text-align: left;
  }

  .field {
    + .field {
      margin-top: 5px;
    }
  }

  .username {
    .value {
      display: block;
      @include userGlyph;

      input {
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
  }

  .password {
    .value {
      display: block;
      @include passwordGlyph;

      input {
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        left: 12px;
        top: 10px;
      }
    }
  }

  .label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"] {
    @include genericInputStyle;
  }

  input[type="submit"] {
    @include genericButtonStyle;
  }


  @include breakpoint($bp-tablets-portrait) {
    width: 300px;
  }
}