.email-address-search {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.btn.cancel {
  margin-top: 10px;
  margin-left: 10px;
}

.btn.add {
  float: none !important;
}