@import "../config/base-import";

.prop-wrapper {
  .prop {
    margin: 0;
    padding: 0;
  }
}

.reservation-confirmation,
.reservation-thank-you {
  label,
  .label {
    display: block;
    font-weight: bold;
    font-size: 14px;
  }

  .val {
    font-size: 14px;
  }

  .actions {
    margin-top: $spacing-between-boxes/2;

    button.btn {
      + button.btn {
        margin-left: 10px;
      }
    }
  }

  .reservation-number {
    margin-bottom: $spacing-between-boxes/2;
    padding: 10px;
    background-color: $color-light-yellow;

    label,
    .val {
      display: inline-block;
      font-size: 18px;
    }

    .val {
      margin-left: 5px;
    }
  }

  .store-name {
    margin: $spacing-between-boxes 0 $spacing-between-boxes/1.5;

    label {
      display: none;
    }

    .val {
      text-transform: uppercase;
      font-size: 24px;
      color: $color-black;
    }
  }

  .reserved-time,
  .expire-time {
    margin-top: 10px;
    padding: 8px 0;
  }


  .reserved-product {
    margin-top: $spacing-between-boxes/1.5;

    > label {
      margin-bottom: 5px;
    }

    .prop {
      padding: 10px;
    }

    .product-name,
    .options > div:first-child {
      background: $color-grey-f2;
    }
  }

  .quantity {
    background: $color-grey-f2;
  }

  .quantity,
  .hold-period {
    padding: 10px;
  }

  @include breakpoint($bp-tablets-portrait) {
    .reserved-time,
    .expire-time {
      margin-top: 0;
      display: inline-block;
      vertical-align: top;
      width: 50%;

      label {
        display: inline-block;
        margin-right: 5px;
      }
    }

    .expire-time {
      padding-left: $spacing-between-boxes;
      border-left: 1px solid $color-grey-80;
    }

    .reserved-product,
    .quantity,
    .hold-period {
      label,
      .val {
        display: inline-block;
      }

      label {
        width: 20%;
      }
    }
  }
}
