@import "../config/base-import";

.promotion-add-wrapper {
    text-align: right;
    margin-bottom: $spacing-between-boxes;
}

.promotion-editor {
    padding: 20px;
    border: 1px solid #ccc;
}

.prop-body {
    > div {
        margin-bottom: 10px;

        label {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 3px;
        }

        input[type="text"],
        input[type="number"] {
            width: 200px;
        }
    }

    .coupon-code-con {
        padding: 10px 20px;
        margin-top: 10px;
        border: 1px solid $color-grey-cc;
    }

    .promotion-type {
        font-family: $font-opensans;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .discount-amount,
    .discount-amount-post-label,
    .discount-minimum-purchase,
    .discount-minimum-purchase-post-label {
        display: inline-block;
    }

    .discount-amount-post-label,
    .discount-minimum-purchase-post-label {
        margin-left: 5px;
    }


    .select-products {
        float: right;
        margin: -20px 0 10px;
    }

    .message-container,
    .search {
        clear: right;
    }

    .search-results {
        .first-column {
            img {
                max-width: 50px;
                height: auto;
                width: auto;
            }
        }
    }

    .picture-editor {
        margin-top: 10px;
    }
}