@import "../config/base-import";

.text.reset-password {
  text-align: center;
  line-height: 1.5;
}

.directions {
  text-align: center;
  line-height: 1.5;
}

.retrieve-password {
  text-align: center;

  div.email {
    width: 300px;
    margin: 0 auto 10px;
    @include emailGlyph;

    &:before {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    span.email {
      display: none;
    }

    input {
      @include genericInputStyle;
      padding-left: 40px;
    }
  }

  .submit {
    @include genericButtonStyle;
  }
}