.my-shack {
    position: relative;
    display: block;
    text-align: left;

    input[type="submit"] {
        @include style-button-base;
        @include style-button-sm;
        background: $color-black url("/_resources/dyn/files/1060002z8988d3a1/_fn/shack-white.png") 7px 5px no-repeat;
        background-size: 17px;
        position: relative;
        transition: none;
        padding: 6px 10px 6px 30px;
        max-width: 100%;

        &:hover,
        &[value="Remove From Shack"] {
            background: $color-grey-66 url("/_resources/dyn/files/1060002z8988d3a1/_fn/shack-white.png") 7px 5px no-repeat;
            background-size: 17px;
            width: auto;
            height: auto;
            margin: 0;
        }
    }
}