.my-shack {
    position: absolute;
    z-index: 5000;
    top: 0;
    right: 0;
    text-align: center;

    input[type="submit"] {
        background: rgba($color-white, .95) url('/_resources/dyn/files/1060001z1081821b/_fn/shack-black.png') no-repeat;
        background-size: 20px;
        background-position: center center;
        text-indent: -9999px;
        outline: 0;
        border: 0;
        height: 30px;
        width: 30px;
        display: block;

        &[value="Remove From Shack"] {
            background-color: $color-white;
            background-size: 22px;
        }

        &:hover {
            background-color: $color-white;
            background-size: 22px;
        }
    }
}