*, *:before, *:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-weight: normal;
	font-family: $font-handwriting;
	font-size: 44px;
	line-height: 1.3;

	a {
		color: $color-black;
	}

}

h2 {
	font-weight: normal;
	font-family: $font-italic;
	font-size: 36px;
	line-height: 1.3;
}

h3 {
	font-weight: normal;
	font-family: $font-handwriting;
	font-size: 25px;
}

h4 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	font-family: $font-opensans;
	margin-bottom: .75em;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
	height: 30px;
	line-height: 26px;
	font-family: $font-opensans;
	font-size: 14px;
	padding: 2px 5px;
	border: 1px solid $color-grey-cc;
	border-radius: 3px;
	background: transparent linear-gradient(to bottom, $color-grey-f2 0%, $color-white 100%) repeat scroll 0% 0%;
}

.l-primary-content {
	ul,
	ol {
		line-height: 1.5;
		color: $color-grey-33;
	}

	p {
		line-height: 1.5;
		color: $color-grey-33;
	}


	a {
	  cursor: pointer;
	  color: $color-orange-red;
	}
}

.l-aside-content {
	a {
		cursor: pointer;
		color: $color-orange-red;
	}
}