

button.btn {
	background: $color-red none repeat scroll 0 0;
	border: 1px solid $color-dark-red;
	color: #FFF;
	font-size: 14px;
	font-family: $font-opensansbold;
	padding: 5px 15px;
	margin: 10px 0;
	border-radius: 3px;
	height: 30px;
	cursor: pointer;
	box-shadow: none;
	text-shadow: none;

	&:hover {
		background: $color-dark-red;
	}

	&.add {
		float: right !important;
		margin-top: 18px;
	}

	&.reset,
	&.delete {
		background-color: $color-grey-aa;
		border: 1px solid $color-grey-77;

		&:hover {
			background-color: $color-grey-99;
		}
	}
}

//FIXME this needs to be .btn button need to find out more details
//  - Homepage has btn-std
.btn-std {
	@include style-button-base;
}

.btn-large {
	@include style-button-large;
}