.archetype-menu {
  display: none;
  margin-bottom: $spacing-between-boxes/2;

  ul {
    @include resetMenu;

    + ul {
      margin-top: $spacing-between-boxes/2;
    }
  }

  a {
    color: $color-black;
  }

  .menu-t1 {
    > .mi {
      display: block;
      position: relative;

      &:after {
        position: absolute;
        top: 8px;
        right: 5px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color-black;
        content: '';
      }

      > .menuitemlabel {

      }

      &.over {
        > .menuitemlabel:after {
          border-bottom: 6px solid $color-black;
          border-top: none;
        }
      }
    }
  }

  ul.menu {
    .mi {
      display: block;
      text-transform: none;
    }
  }

  .menu-t2 {
    .menuitemlabel {
      color: $color-grey-80;
      font-family: $font-opensans;
      font-size: 12px;
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    display: block;
  }
}

.catalog {
  display: none;
  margin-bottom: $spacing-between-boxes;

  ul {
    @include resetMenu;

    + ul {
      margin-top: $spacing-between-boxes/2;
    }
  }

  a {
    color: $color-black;
  }

  ul.catalogmenu.menu-t0 {
    .mi,
    .mi-parent {
      display: block;
      text-transform: none;
    }

    > .mi {
      + .mi {
        margin-top: $spacing-between-boxes/2;
      }

      &.catalogcategory.mi-parent {
        position: relative;
        padding-right: 10px;

        &:after {
          position: absolute;
          top: 7px;
          right: 5px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $color-black;
          content: '';
        }

        &.over {
          &:after {
            border-bottom: 6px solid $color-black;
            border-top: none;
          }
        }

      }
    }

    .menu {
      .mi {
        + .mi {
          margin-top: 0;
        }

        .menuitemlabel {
          color: $color-grey-80;
          font-family: $font-opensans;
          font-size: 12px;
        }
      }


      &.menu-t1 {
        .mi-parent {
          padding-top: 5px;

          > .menuitemlabel {
            color: $color-black;
            font-family: $font-opensansbold;
          }
        }
      }
    }

  }

  @include breakpoint($bp-tablets-landscape) {
    display: block;
  }
}



.catalogpath {
  color: $color-black;
  font-weight: bold;
}
