.filters {
  margin-bottom: $spacing-between-boxes;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .menu {
    @include resetMenu;
  }

  .filter-inner {
    position: relative;
  }

  .title {
    text-transform: uppercase;
    color: $color-grey-80;
    font-size: 15px;
    margin: $spacing-between-boxes/2 0 10px;
  }

  @include breakpoint($bp-tablets-portrait) {
    .title,
    .filter_controls {
      display: inline-block;
      vertical-align: top;
    }

    .title {
      padding: 7px 10px;
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid $color-grey-80;
    }

    .filter-inner {
      padding-right: 130px;
      position: static;
    }

    .filter_controls {
      width: 65%;
      position: relative;
    }
  }

  @include breakpoint($bp-tablets-landscape) {

    .filter-inner {
      padding-right: 200px;
    }
    .filter_controls {
      width: 75%;
    }
  }

}

.sort-by {
  text-transform: none;
  position: relative;
  z-index: 7000;
  cursor: pointer;

  .label {
    padding: 7px 20px 7px 0;
    font-size: 14px;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    border: 1px solid $color-grey-80;
    background: $color-grey-80;
  }

  span.arrow {
    display: block;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color-white;
  }


  &.opened {
    span.arrow {
      border-bottom: 6px solid $color-white;
      border-top: none;
    }

    .sort-option-con {
      max-height: 2000px;
      opacity: 1;
    }
  }

  .active-sort {
    text-align: right;
    font-family: $font-italic;
    padding: 7px 0;
    font-size: 14px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
  }

  .sort-option-con {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s ease all;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 500;
    background: $color-white;
    border: 1px solid $color-grey-80;

    > label {
      border: 1px solid $color-grey-80;
      border-radius: 0 3px 3px 0;
      background: $color-white;
    }

    .sort-option {
      display: block;
      text-transform: none;
      font-size: 14px;
      text-align: center;

      label {
        display: block;
        padding: 10px 15px;
      }

      + .sort-option {
        border-top: 1px solid $color-grey-cc;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .control {
    display: none;
    margin-right: 4px;
  }


  @include breakpoint($bp-tablets-portrait) {
    float: right;
    width: 130px;
  }
}

.filter_controls {
  > .search-option {
    border: 1px solid $color-grey-80;
    width: 100%;
    position: relative;
    color: $color-grey-80;
    text-transform: none;

    &:hover {
      cursor: pointer;
    }

    + .search-option {
      margin-top: 10px;
    }

    .label {
      padding: 4px 30px 0 10px;
      font-size: 16px;
      text-align: center;
      font-family: $font-italic;
    }

    span.arrow {
      display: block;
      position: absolute;
      right: 5px;
      top: 12px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;

      border-top: 6px solid $color-grey-80;
    }

    .filter-option-con {
      z-index: 8888;
    }

    &.opened {
      span.arrow {
        border-bottom: 6px solid $color-grey-80;
        border-top: none;
      }

      .filter-option-con {
        max-height: 2000px;
        opacity: 1;
        border: 1px solid $color-grey-80;
      }
    }

    .filter-option-con {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: .5s ease all;
      position: absolute;
      top: 100%;
      left: -1px;
      right: -1px;
      background: $color-grey-80;
      box-shadow: 0 3px 5px rgba($color-black, .5);

      .filter-option {
        display: block;
        text-transform: none;
        font-size: 14px;
        text-align: center;
        padding: 1px;

        label {
          display: block;
          font-size: 13px;
          color: $color-white;
          padding: 10px 25px;
          background-color: $color-grey-77;

          &:hover {
            cursor: pointer;
          }
        }

        &:hover {
          cursor: pointer;
        }

        &.active {
          label {
            @include checkmarkGlyph;
            background-color: $color-grey-33;
            box-shadow: inset 0 0 7px rgba($color-black, .55);
            color: $color-white;
            text-shadow: 1px 1px 1px rgba($color-black,.4);
            font-weight: bold;
          }
        }
      }
    }

    .control {
      display: none;
      margin-right: 4px;
    }
  }


  @include breakpoint($bp-tablets-portrait) {
    margin-bottom: 10px;

    > .search-option {
      display: inline-block;
      vertical-align: top;
      width: auto;
      position: static;
      margin-right: 10px;

      + .search-option {
        margin-top: 0;
      }

      &.opened {
        background-color: $color-grey-80;
        color: $color-white;

        .active-filters {
          display: none;
        }

        span.arrow {
          border-bottom: 6px solid $color-white;
        }

        .filter-option-con {
          border: 0;
        }
      }

      .filter_label {
        position: relative;
      }

      .filter-option-con {
        left: -40px;
        right: -40px;
        background-color: $color-grey-80;
        top: 115%;

        .filter-option {
          display: inline-block;
          width: 50%;
        }
      }
    }

    .active-filters {
      ul {
        max-width: 205px;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    > .search-option {
      .filter-option-con {
        left: 0;
        right: 0;
      }
    }
  }
}


.active-filters {
  font-family: $font-italic;
  font-size: 12px;
  padding: 5px 180px 0 0;
  position: relative;

  > .tag {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px 5px 20px;
    margin: 0 2px 5px;
    position: relative;
    background: $color-grey-f2;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: 'x';
      display: block;
      position: absolute;
      left: 8px;
      top: 3px;
      font-size: 14px;
      color: $color-grey-99;
    }
  }
}