.message {
	background-color: $color-dark-red;
	color: $color-white;
	padding: 10px;

	+ .message {
		margin-top: 10px;
	}
}

.message-container {
	margin-bottom: 30px;

	&.empty {
		display: none;
	}
}