.social-nav {
    margin-top: $spacing-between-boxes;
    text-align: right;

    .menu {
        @include resetMenu;
    }

    .mi {
        display: inline-block;

        + .mi {
            margin-left: 10px;
        }
    }

    .menuitemlabel {
        display: block;
        background: url("/_resources/dyn/files/1058943z17264f83/_fn/social-sprite.png") no-repeat;
        height: 45px;
        width: 46px;
        white-space: nowrap;
        cursor: pointer;

        .mil {
            display: none;
        }
    }

    .facebook {
        .menuitemlabel {
            background-position: 0 0;
        }
    }

    .twitter {
        .menuitemlabel {
            background-position: -56px 0;
        }
    }

    .instagram {
        .menuitemlabel {
            background-position: -113px 0;
        }
    }

    .pinterest {
        .menuitemlabel {
            background-position: -169px 0;
        }
    }

    .contact {
        .menuitemlabel {
            background-position: -225px 0;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        display: block;
    }
}
