/* ==========================================================================
   Basic Styles for Tabs
   baiken@vipasolutions.com, sbenes, knoone
   Updated Aug 21, 2015
   ========================================================================== */

/* Tab Container
   ========================================================================== */
ul.tab-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-items {
  li {
    display: inline-block;
    *display: inline;
    zoom:1;

    + li {
      margin-left: 6px;
    }
  }

  a {
    display: block;
    background-color: $color-grey-f9;
    color: $color-black;
    padding: 5px 10px;
    border: 1px solid $color-grey-cc;
    border-bottom: none;
  }

  .tab-selected a {
    background-color: $color-grey-cc;
  }
}

.tab-content {
  border: 1px solid $color-grey-cc;
  padding: 20px;
  background-color: $color-grey-f9;

  .tab-container {
    margin-top: 20px;
  }
}
