@mixin style-button-base {
	display: inline-block;
	background: $color-black;
	color: $color-white;
	font-family: $font-opensans;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border: 0 none;
	margin: 0;
	padding: 5px 15px;
	transition: .5s ease-in background;

	&:hover {
		background: lighten($color-black, 20%);
		text-decoration: none;
	}
}

@mixin style-button-large {
	font-size: 16px;
	padding: 8px 15px;
}

@mixin style-button-sm {
	font-size: 12px;
	padding: 3px 10px 4px;
}

@mixin style-prop-wrapper-grey {
	padding: 20px;
	margin-bottom: 0;
	background-color: #f2f2f2;
}

@mixin style-generic-table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: $color-black;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;

	.action-column button + button {
		margin-left: 5px;

		@include breakpoint($bp-tablets-landscape) {
			margin-left: 10px;
		}
	}

	.summary {
		display: none;
	}

	td, th {
		font-size: 12px;
		padding: 10px 5px;
	}

	th {
		background: transparent linear-gradient(to bottom, $color-blue-grey 0%, $color-grey-66 100%) repeat scroll 0 0;
		color: $color-white;
		font-weight: normal;
		border-bottom: 1px solid $color-grey-c5;

		+ th {
			border-left: 1px solid $color-grey-c5;
		}

		span.column-label {
			display: block;
		}

		span.sortarrow {
			display: inline-block;
			vertical-align: middle;
			margin-left: 2px;
			height: 0;
			width: 0;

			span {
				display: none;
			}

			&.sortarrowup {
				border-top: 3px solid $color-white;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}

			&.sortarrowdown {
				border-bottom: 3px solid $color-white;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}
		}

		span.sort-indicator {
			display: inline-block;
			vertical-align: middle;
			margin-left: 2px;
			height: 0;
			width: 0;

			img {
				display: none;
			}

			&.descending {
				border-top: 3px solid $color-white;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}

			&.ascending {
				border-bottom: 3px solid $color-white;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}
		}


		&.first-column {
			border-top-left-radius: 3px;
		}

		&.last-column {
			border-top-right-radius: 3px;
		}

		a {
			color: $color-white;
		}
	}

	td {
		border-bottom: 1px solid $color-grey-c5;
		background-color: $color-white;

		+ td {
			border-left: 1px solid $color-grey-c5;
		}

		&.empty-con {
			padding: 0;
			border-bottom: 0;
		}

		@include breakpoint($bp-tablets-landscape) {
			padding: 10px 15px;
		}
	}

	tr:nth-child(even) td {
		background-color: $color-grey-f2;
	}

	/** CREATE GLYPH BUTTONS **/
	td.action-column {
		.actions {
			text-align: center;
			margin-top: 0;
			width: 100%;
		}

		.btn {
			&.view,
			&.details_button {
				@include viewButtonGlyph;
			}
			&.order-up {
				@include arrowUpButtonGlyph;
			}
			&.order-down {
				@include arrowDownButtonGlyph;
			}
			&.edit {
				@include editButtonGlyph;
			}
			&.delete,
			&.remove {
				@include deleteButtonGlyph;
			}
			&.edit-images {
				@include editImageButtonGlyph;
			}
		}
	}

	td.action {
		.checkout-order {
			a {
				@include cartButtonGlyph;
				top: -1px;
			}
		}

		.order-details {
			a {
				@include viewButtonGlyph;
			}
		}
	}

	.column-visibility {
		.btn {
			border: medium none;
			background: transparent url("/_resources/all/docroot/miwt/component/images/view.gif") no-repeat scroll 1px 1px;
			padding: 0;
			margin: 0;
			width: 15px;
			height: 13px;
			cursor: pointer;

			+ .btn {
				margin-left: 10px;
			}
		}
	}

	@include breakpoint($bp-tablets-landscape) {
		th, td {
			font-size: 14px;
		}

		.summary {
			display: table-cell;
		}
	}

	@include breakpoint($bp-desktop) {
		th, td {
			padding: 10px 15px;

		}
	}
}

@mixin style-generic-table-search {
	margin-top: 10px;
	margin-bottom: 10px;
  	max-width: 100%;

	.disabled {
		display: none;
	}

	.actions {
		display: block;
	}

	select {
		font-size: 12px;
		text-align: left;
	}

	.constraint {
		margin-bottom: 20px;

		label {
			display: block;
			font-size: 14px;
			font-family: $font-opensansbold;
			margin-bottom: 3px;
		}

		input,
		select {
			width: 80%;
		}

		&.date {
			input {
				width: auto;
			}
		}
	}

	.layout_group {
		margin-top: $spacing-between-boxes/2;
		border-top: 1px solid $color-grey-66;
		padding-top: $spacing-between-boxes/2;
	}

	.recent_search {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 10px;
	}

	.result_limit {
		display: inline-block;
		margin-left: $spacing-between-boxes/2;
	}

	.shipping_address_button {
		margin: 10px 0;
	}


	input[type="submit"],
	a[title="Order History"] {
		@include style-button-base;
		margin: 0 3px;
		width: 47.5%;
		text-align: center;
	}

	@include breakpoint($bp-mobile-landscape) {
		.constraint {
			display: inline-block;
			width: 48.5%;

			+ .constraint {
				margin-right: 5px;
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		.actions {
			display: inline-block;
			vertical-align: top;
		}

		.constraint {
			width: 32%;
		}

		input[type="submit"],
		a[title="Order History"] {
			width: inherit;
		}

		.shipping_address_button {
			float: right;
			margin: -47px 0 0 0;
		}
	}

	@include breakpoint($bp-desktop) {
		.constraint {
			width: 24%;
		}
	}
}