@mixin style-button-base {
	display: inline-block;
	background: $color-black;
	color: $color-white;
	font-family: $font-opensans;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border: 0 none;
	margin: 0;
	padding: 5px 15px;

	&:hover {
		background: lighten($color-black, 20%);
		text-decoration: none;
	}
}

@mixin style-button-large {
	font-size: 16px;
	padding: 8px 15px;
}

@mixin style-button-sm {
	font-size: 12px;
	padding: 3px 10px 4px;
}

@mixin style-generic-table {
	width: 100%;
	border-collapse: separate;
	border-radius: 4px;
	border-spacing: 0;
	border-width: 1px 1px medium;
	border-style: solid solid none;
	border-color: $color-blue-grey $color-grey-c5 -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;

	.action-column button + button {
		margin-left: 10px;
	}

	th {
		background: transparent linear-gradient(to bottom, $color-blue-grey 0%, $color-grey-66 100%) repeat scroll 0 0;
		font-size: 14px;
		color: $color-white;
		font-weight: normal;
		padding: 10px 15px;
		text-align: left;
		border-bottom: 1px solid $color-grey-c5;

		+ th {
			border-left: 1px solid $color-grey-c5;
		}

		span.column-label {
			display: block;
		}

		&.first-column {
			border-top-left-radius: 3px;
		}

		&.last-column {
			border-top-right-radius: 3px;
		}

		a {
			color: $color-white;
		}
	}

	td {
		padding: 10px 15px;
		border-bottom: 1px solid $color-grey-c5;
		font-size: 14px;
		background-color: $color-white;

		+ td {
			border-left: 1px solid $color-grey-c5;
		}
	}

	.even td {
		background-color: $color-grey-f2;
	}

	/** CREATE GLYPH BUTTONS **/
	td.action-column {
		.actions {
			text-align: left;
		}

		.btn {
			&.view {
				@include viewButtonGlyph;
			}
			&.order-up {
				@include arrowUpButtonGlyph;
			}
			&.order-down {
				@include arrowDownButtonGlyph;
			}
			&.edit {
				@include editButtonGlyph;
			}
			&.delete,
			&.remove {
				@include deleteButtonGlyph;
			}
			&.edit-images {
				@include editImageButtonGlyph;
			}
		}
	}


	td.action {
		a[title="Order History"] {
			@include viewButtonGlyph;
		}
	}


	.column-visibility {
		.btn {
			border: medium none;
			background: transparent url("/_resources/all/docroot/miwt/component/images/view.gif") no-repeat scroll 1px 1px;
			padding: 0;
			margin: 0;
			width: 15px;
			height: 13px;
			cursor: pointer;

			+ .btn {
				margin-left: 10px;
			}
		}
	}
}

@mixin style-generic-table-search {
	margin-top: 10px;
	margin-bottom: 10px;
  	max-width: 100%;

	.actions {
		display: inline-block;
		vertical-align: top;
	}

	input[type="submit"],
	a[title="Order History"]{
		@include style-button-base;
		margin: 0 3px;
	}

	span {
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
		margin-bottom: 5px;

		label {
			font-weight: bold;
			margin-right: 3px;
		}

		select {
			font-size: 12px;
			text-align: left;
		}
	}
}