@import "../config/base-import";

.logo-image,
.banner-image {
  .drop-zone {
    max-height: 300px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
}

.store-images-wrapper {
  .actions {
    .btn {
      + .btn {
        margin-left: 5px;
      }
    }
  }
}

.store-members-wrapper {
  margin-top: $spacing-between-boxes;

  .store-members {
    border: 1px solid $color-grey-cc;
    padding: 20px;
  }
}




