@import "../config/base-import";

.prop-body {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.prop-wrapper {
  .prop {
    padding: 5px 0;
  }

  .persistence-actions {
    button {
      + button {
        margin-left: 5px;
      }
    }
  }
}

#aside_content {
  width: 25%;
  display: inline-block;
  vertical-align: top;

  border: 1px solid $color-grey-cc;
  background-color: $color-grey-f9;

  .store-info {
    padding: 15px;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }

    .name {
      font-weight: bold;
      font-size: 20px;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  ul.menu {
    margin-top: 10px;
    border-top: 1px solid $color-grey-cc;

    .mi {
      display: block;

      + .mi {
        border-top: 1px solid $color-grey-cc;
      }
    }

    .menuitemlabel {
      color: $color-black;
      display: block;
      padding: 5px 15px;

      &:hover {
        box-shadow: inset 0 3px 3px rgba($color-black, .1);
        background-color: darken($color-grey-f9, .5);
      }
    }
  }
}

#main_content {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.main-container {
  input {
    margin: 0;
  }

  .val {
    font-size: 14px;
    color: $color-grey-33;
    line-height: 1.5;
  }

  .left-container,
  .right-container {
      display: inline-block;
      vertical-align: top;
      float: none;
      width: 50%;
      padding: 0 20px;

      &:after {
        display: block;
        clear: both;
        content: '';
      }
    }
}

button.store-images-trigger,
label.store-images-label,
button.store-members-trigger,
label.store-members-label {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  padding: 5px;
  margin: 0;
}

button.store-images-trigger,
button.store-members-trigger {
  float: right;
  background: transparent;
  border: 1px solid $color-grey-cc;
  margin-top: 4px;
  position: relative;
  border-radius: 0;

  &:before {
    content: "+";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: .7;
    color: $color-grey-66;
    font-family: $font-opensanslight;
  }
}

.store-images-label,
.store-members-label {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.store-images {
  border: 1px solid $color-grey-cc;
  padding: 20px;

  > .prop {
    display: inline-block;
    vertical-align: top;
    width: 47%;

    + .prop {
      margin-left: 3%;
    }

    label {
      margin-bottom: 3px;
    }
  }
}

.logo-image,
.banner-image {
  .drop-zone {
    max-height: 300px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
}

.store-images-wrapper {
  .actions {
    .btn {
      + .btn {
        margin-left: 5px;
      }
    }
  }
}

.store-members-wrapper {
  margin-top: $spacing-between-boxes;

  .store-members {
    border: 1px solid $color-grey-cc;
    padding: 20px;
  }
}
